promptflow
promptflow[azure]
promptflow-tools
python-dotenv

fastapi
uvicorn
pydantic

openai

jose
python-jose
starlette

requests
numpy
langchain
langchainhub
langchain_community
langchain-openai
chromadb
Flask
pandas
geopy
